<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Habit Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Habit Tracker</ion-title>
    </ion-toolbar>
  </ion-header>





  <ion-accordion-group>

    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Water Intake</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <ion-accordion-group>

          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>March</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
      03/25/23   70oz<br>
      03/26/23   65oz<br>
      03/27/23   68oz<br>
      
            </div>
      
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" color="light">
              <ion-label>April</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
      
      
      
      
      
            </div>
      
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" color="light">
              <ion-label>May</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
      
      
      
      
              
            </div>
          </ion-accordion>
      
        </ion-accordion-group>
      


      </div>

    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Hours Slept</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">





      </div>

    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Minutes Exercised</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">





      </div>
    </ion-accordion>

  </ion-accordion-group>





</ion-content>
